In [7]:
# 100만개 데이터 셋
# 6000명 4000편 100만개 영화평점
# 평점, 사용자정보, 영화정보


import pandas as pd
unames=['user_id', 'gender', 'age', 'occupation', 'zip']
rnames=['user_id', 'movie_id', 'rating', 'timestamp']
mnames=['movie_id', 'title', 'genres']

users=pd.read_csv("data/movielens/users.dat", names=unames, sep="::", header=None)
print(users.head(5)) # Gender::Age::Occupation::Zip-code

ratings=pd.read_csv("data/movielens/ratings.dat", names=rnames, sep="::", header=None)
print(ratings.head(5)) # UserID::MovieID::Rating::Timestamp

movies=pd.read_csv("data/movielens/movies.dat", names=mnames, sep="::", header=None)
print(movies.head(5)) # MovieID::Title::Genres

C:\Users\B-10\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # This is added back by InteractiveShellApp.init_path()
C:\Users\B-10\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455
   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291
   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

C:\Users\B-10\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [8]:
# users.columns=['user_id', 'gender', 'age', 'occupation', 'zip']

In [9]:
# 데이터 합칠 때는 merge, cincat 함수
# pd.merge(왼쪽, 오른쪽, on=기준변수, left_on, right_on... )
pd.merge(ratings, users)
#pd.merge(ratings, users, on='user_id') 겹치는 게 user_id 하나라 기준으로 주지 않아도 알아서 공통을 찾아 병합할 수 있음.

         user_id  movie_id  rating  timestamp gender  age  occupation    zip
0              1      1193       5  978300760      F    1          10  48067
1              1       661       3  978302109      F    1          10  48067
2              1       914       3  978301968      F    1          10  48067
3              1      3408       4  978300275      F    1          10  48067
4              1      2355       5  978824291      F    1          10  48067
5              1      1197       3  978302268      F    1          10  48067
6              1      1287       5  978302039      F    1          10  48067
7              1      2804       5  978300719      F    1          10  48067
8              1       594       4  978302268      F    1          10  48067
9              1       919       4  978301368      F    1          10  48067
10             1       595       5  978824268      F    1          10  48067
11             1       938       4  978301752      F    1          10  48067
12             1      2398       4  978302281      F    1          10  48067
13             1      2918       4  978302124      F    1          10  48067
14             1      1035       5  978301753      F    1          10  48067
15             1      2791       4  978302188      F    1          10  48067
16             1      2687       3  978824268      F    1          10  48067
17             1      2018       4  978301777      F    1          10  48067
18             1      3105       5  978301713      F    1          10  48067
19             1      2797       4  978302039      F    1          10  48067
20             1      2321       3  978302205      F    1          10  48067
21             1       720       3  978300760      F    1          10  48067
22             1      1270       5  978300055      F    1          10  48067
23             1       527       5  978824195      F    1          10  48067
24             1      2340       3  978300103      F    1          10  48067
25             1        48       5  978824351      F    1          10  48067
26             1      1097       4  978301953      F    1          10  48067
27             1      1721       4  978300055      F    1          10  48067
28             1      1545       4  978824139      F    1          10  48067
29             1       745       3  978824268      F    1          10  48067
...          ...       ...     ...        ...    ...  ...         ...    ...
1000179     6040      2762       4  956704584      M   25           6  11106
1000180     6040      1036       3  956715455      M   25           6  11106
1000181     6040       508       4  956704972      M   25           6  11106
1000182     6040      1041       4  957717678      M   25           6  11106
1000183     6040      3735       4  960971654      M   25           6  11106
1000184     6040      2791       4  956715569      M   25           6  11106
1000185     6040      2794       1  956716438      M   25           6  11106
1000186     6040       527       5  956704219      M   25           6  11106
1000187     6040      2003       1  956716294      M   25           6  11106
1000188     6040       535       4  964828734      M   25           6  11106
1000189     6040      2010       5  957716795      M   25           6  11106
1000190     6040      2011       4  956716113      M   25           6  11106
1000191     6040      3751       4  964828782      M   25           6  11106
1000192     6040      2019       5  956703977      M   25           6  11106
1000193     6040       541       4  956715288      M   25           6  11106
1000194     6040      1077       5  964828799      M   25           6  11106
1000195     6040      1079       2  956715648      M   25           6  11106
1000196     6040       549       4  956704746      M   25           6  11106
1000197     6040      2020       3  956715288      M   25           6  11106
1000198     6040      2021       3  956716374      M   25           6  11106
1000199     6040      2022       5  956716207      M   25           6  11106
1000200     6040      2028       5  956704519      M   25           6  11106
1000201     6040      1080       4  957717322      M   25           6  11106
1000202     6040      1089       4  956704996      M   25           6  11106
1000203     6040      1090       3  956715518      M   25           6  11106
1000204     6040      1091       1  956716541      M   25           6  11106
1000205     6040      1094       5  956704887      M   25           6  11106
1000206     6040       562       5  956704746      M   25           6  11106
1000207     6040      1096       4  956715648      M   25           6  11106
1000208     6040      1097       4  956715569      M   25           6  11106

[1000209 rows x 8 columns]

In [10]:
data=pd.merge(pd.merge(ratings, users),movies) # merge 두 번 사용 가능.
data.info()
#data의 0번행 추출 iloc(정수위치), loc(라벨),ix
data.loc[0]

#성별에 따른 각 영화의 평균 평점
mean_ratings=data.pivot_table('rating', index='title', columns='gender', aggfunc='mean')
mean_ratings.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 0 to 1000208
Data columns (total 10 columns):
user_id       1000209 non-null int64
movie_id      1000209 non-null int64
rating        1000209 non-null int64
timestamp     1000209 non-null int64
gender        1000209 non-null object
age           1000209 non-null int64
occupation    1000209 non-null int64
zip           1000209 non-null object
title         1000209 non-null object
genres        1000209 non-null object
dtypes: int64(6), object(4)
memory usage: 83.9+ MB

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [11]:
import nltk
nltk.download('punkt')
# 자연어처리: 데이터를 (토큰화->정제->정규화)
# 토큰화 : 문장을 단어로 나누는 작업 (How are you?) -> how, are, you
# 정제: 특수문자, 구두점 등 모두 제거하는 작업
# ex) Don't Don t-> do not 으로 될 수 있어서 정제할 때 조심히 해야 함
from nltk.tokenize import word_tokenize
print(word_tokenize("Don't be fooled by the dark sounding name, Mr.Jone's"))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\B-10\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
['Do', "n't", 'be', 'fooled', 'by', 'the', 'dark', 'sounding', 'name', ',', 'Mr.Jone', "'s"]

In [20]:
# 영화제목으로 그룹화-> size로 제목별 평점 정보 건수를 추출
ratings_by_title=data.groupby('title').size()
ratings_by_title[:10]

# 250건 이상의 평점 정보가 있는 영화만 추출 불린추출로
ratings_by_title[ratings_by_title>=250]
len(ratings_by_title[ratings_by_title>=250]) # 총 1216편  ratings_by_title[ratings_by_title>=250].size 도 됨

# 250건 이상의 평점 정보가 있는 영화제목만 추출
active_titles=ratings_by_title.index[ratings_by_title>=250]
active_titles

# mean_ratings에서 acrive_titles 추출
mean_ratings.loc[active_titles] # mean_ratings.ix[active_titles]와 같음

# 여성에게 높은 평점을 받은 영화 목록을 출력(상위10개)
top_female_ratings=mean_ratings.sort_index(by="F", ascending=False) # ascending=False 내림차순
top_female_ratings[:10]

C:\Users\B-10\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)

gender                                               F         M
title
Clean Slate (Coup de Torchon) (1981)               5.0  3.857143
Ballad of Narayama, The (Narayama Bushiko) (1958)  5.0  3.428571
Raw Deal (1948)                                    5.0  3.307692
Bittersweet Motel (2000)                           5.0       NaN
Skipped Parts (2000)                               5.0  4.000000
Lamerica (1994)                                    5.0  4.666667
Gambler, The (A J�t�kos) (1997)                    5.0  3.166667
Brother, Can You Spare a Dime? (1975)              5.0  3.642857
Ayn Rand: A Sense of Life (1997)                   5.0  4.000000
24 7: Twenty Four Seven (1997)                     5.0  3.750000

In [46]:
# 남녀간 평균 평점의 차이가 가장 큰 영화가 무엇인지.(남)
mean_ratings['diff']=mean_ratings["M"]-mean_ratings["F"]
sorted_by_diff=mean_ratings.sort_values(by="diff")
sorted_by_diff

gender,F,M,diff
title,,,
"James Dean Story, The (1957)",4.000000,1.000000,-3.000000
Country Life (1994),5.000000,2.000000,-3.000000
"Spiders, The (Die Spinnen, 1. Teil: Der Goldene See) (1919)",4.000000,1.000000,-3.000000
Babyfever (1994),3.666667,1.000000,-2.666667
"Woman of Paris, A (1923)",5.000000,2.428571,-2.571429
Cobra (1925),4.000000,1.500000,-2.500000
"Other Side of Sunday, The (S�ndagsengler) (1996)",5.000000,2.928571,-2.071429
"To Have, or Not (1995)",4.000000,2.000000,-2.000000
For the Moment (1994),5.000000,3.000000,-2.000000
Phat Beach (1996),3.000000,1.000000,-2.000000
"Crude Oasis, The (1995)",3.000000,1.000000,-2.000000
Coming Apart (1969),4.000000,2.000000,-2.000000
"Separation, The (La S�paration) (1994)",4.000000,2.000000,-2.000000
Mad Dog Time (1996),4.000000,2.000000,-2.000000
Theodore Rex (1995),3.000000,1.000000,-2.000000
Belly (1998),5.000000,3.000000,-2.000000
"Reluctant Debutante, The (1958)",3.857143,2.000000,-1.857143
"Gambler, The (A J�t�kos) (1997)",5.000000,3.166667,-1.833333
"Thin Line Between Love and Hate, A (1996)",4.000000,2.166667,-1.833333
"Acid House, The (1998)",4.000000,2.200000,-1.800000
Battling Butler (1926),5.000000,3.222222,-1.777778
Twice Upon a Yesterday (1998),5.000000,3.222222,-1.777778
Dancemaker (1998),5.000000,3.250000,-1.750000
Panther (1995),4.666667,2.920000,-1.746667
"Savage Nights (Nuits fauves, Les) (1992)",4.000000,2.285714,-1.714286
Raw Deal (1948),5.000000,3.307692,-1.692308
"Marcello Mastroianni: I Remember Yes, I Remember (1997)",4.666667,3.000000,-1.666667
Horror Hotel (a.k.a. The City of the Dead) (1960),3.000000,1.333333,-1.666667
Trippin' (1999),4.000000,2.333333,-1.666667
Kissed (1996),4.333333,2.700000,-1.633333
...,...,...,...
Tokyo Fist (1995),NaN,2.500000,NaN
Tough and Deadly (1995),NaN,2.000000,NaN
Trans (1998),NaN,3.000000,NaN
Trois (2000),NaN,2.000000,NaN
Two Thousand Maniacs! (1964),NaN,3.266667,NaN
"Ugly, The (1997)",NaN,1.888889,NaN
Ulysses (Ulisse) (1954),NaN,5.000000,NaN
Underworld (1997),NaN,1.000000,NaN
"Uninvited Guest, An (2000)",NaN,1.000000,NaN
Vampyros Lesbos (Las Vampiras) (1970),NaN,3.333333,NaN
Venice/Venice (1992),NaN,1.000000,NaN
"Very Natural Thing, A (1974)",NaN,3.333333,NaN
Voyage to the Beginning of the World (1997),NaN,4.000000,NaN
"Waiting Game, The (2000)",NaN,2.000000,NaN
"Walking Dead, The (1995)",NaN,2.684211,NaN
Waltzes from Vienna (1933),NaN,1.000000,NaN
"War at Home, The (1996)",NaN,2.500000,NaN
Wedding Bell Blues (1996),3.250000,NaN,NaN
Wend Kuuni (God's Gift) (1982),NaN,4.000000,NaN
Where's Marlowe? (1999),NaN,4.000000,NaN
White Boys (1999),NaN,1.000000,NaN
Wild Bill (1995),NaN,3.146341,NaN
Windows (1980),NaN,1.000000,NaN
Wings of Courage (1995),NaN,3.000000,NaN
With Byrd at the South Pole (1930),NaN,2.000000,NaN
With Friends Like These... (1998),NaN,4.000000,NaN
"Wooden Man's Bride, The (Wu Kui) (1994)",NaN,3.000000,NaN
Year of the Horse (1997),NaN,3.250000,NaN
Zachariah (1971),NaN,3.500000,NaN
Zero Kelvin (Kj�rlighetens kj�tere) (1995),NaN,3.500000,NaN

In [40]:
rating_std_by_title=data.groupby('title')['rating'].std() #영화 제목별 rating에 대한 표준편차
rating_std_by_title.sort_values(ascending=False)[:10]

title
Foreign Student (1994)                                             2.828427
Criminal Lovers (Les Amants Criminels) (1999)                      2.309401
Identification of a Woman (Identificazione di una donna) (1982)    2.121320
Sunset Park (1996)                                                 2.121320
Eaten Alive (1976)                                                 2.121320
Neon Bible, The (1995)                                             2.121320
Talk of Angels (1998)                                              2.121320
Tokyo Fist (1995)                                                  2.121320
Paralyzing Fear: The Story of Polio in America, A (1998)           2.121320
Better Living (1998)                                               2.121320
Name: rating, dtype: float64

In [47]:
#자연어 처리
import nltk
from nltk.tokenize import word_tokenize

In [49]:
print(word_tokenize("Wooden Man's Bride, The (Wu Kui) (1994)"))

['Wooden', 'Man', "'s", 'Bride', ',', 'The', '(', 'Wu', 'Kui', ')', '(', '1994', ')']