In [25]:
import pandas as pd  # 데이터 분석 도구

In [26]:
ebola=pd.read_csv("data/country_timeseries.csv")
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# 누락값이 아닌 데이터 걸러내기
ebola.info()  # r언어의 str 함수와 유사

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [28]:
ebola.count() # non-null에 대한 갯수 나옴

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [29]:
ebola.shape

(122, 18)

In [30]:
num_rows=ebola.shape[0]
num_missing=num_rows-ebola.count()

In [31]:
num_missing

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [32]:
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Cases_Guinea 컬럼에서 NaN이 몇개인지 추출
num_rows=ebola['Cases_Guinea'].count()
num_rows

93

In [34]:
import numpy as np
ebola['Cases_Guinea'].isnull()  # NaN자리가 True / True:1   False: 0
np.count_nonzero(ebola['Cases_Guinea'].isnull()) # NaN 개수

29

In [35]:
# 누락값 처리 = 삭제
# 학번  이름  국어  영어  수학
# a001 홍길동  Nan   90   80

In [36]:
ebola['Cases_Guinea'].fillna(0)  # Nan은 0으로 대체 -> 형태 : float
# ebola['Cases_Guinea']=ebola['Cases_Guinea'].fillna('Missing') # NaN을 'Missing' 문자열로 대체
# 데이터는 수치형이였지만 Missing이 문자열이라서 object로 변환
ebola.info()

# 컬럼은 데이터 타입이 동일해야 된다(숫자면 숫자, 문자면 문자,,)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [41]:
ebola['Cases_Guinea'].fillna(0).iloc[0:10]
ebola.fillna(0).iloc[0:10]
# 행 인덱스로 데이터 불러오기

ebola.fillna(0).iloc[0:10,0:5]

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

누락값을 삭제(dropna 함수 : 누락값이 포함된 행 전체가 삭제)

In [47]:
ebola=pd.read_csv("data/country_timeseries.csv")
ebola
ebola_dropna=ebola.dropna()

In [44]:
ebola_dropna  # 값에

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0

In [51]:
# 누락값이 포함된 데이터 계산(3개의 나라만 더해서 새로운 컬럼을 만들고 싶을 때)
ebola['Cases_multiple']=ebola['Cases_Guinea']+ebola['Cases_Liberia']+ ebola['Cases_SierraLeone']
# 기니,리베리아,시리아에 있는 값을 모두 더해라!
# 요소 간 덧셈 : 어느 한 쪽에 NaN이 있다면 결과는 무조건 NaN이 나온다

ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali,Cases_multiple
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN,20657.0
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN,20478.0
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN,20170.0
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN,19810.0
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN,19372.0
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0,NaN
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0,NaN
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0,NaN
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0,15319.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0,NaN
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0,NaN
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0,NaN
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0,NaN
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0,NaN
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,270.0
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,260.0
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,245.0
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,249.0
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,248.0
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,244.0
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,239.0
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN,187.0
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN,185.0
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,174.0
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN,163.0
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,137.0
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN,132.0
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,117.0
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN,117.0
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
Cases_multiple         54 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 18.2+ KB

In [59]:
# ebola.loc[:,] # ebola.loc[;,:] <=> ebola
# 왼쪽에는 행, 오른쪽은 열

# 내가 원하는 열만 추출하고 싶을 때
ebola.loc[:,"Cases_Guinea"]

# 기니, 시메라리온, 리베리아, 멀티플  네 개의 컬럼만 추출하기
ebola_subset=ebola.loc[:,['Cases_Guinea','Cases_SierraLeone','Cases_Liberia', 'Cases_multiple']]
ebola_subset.head(10)

   Cases_Guinea  Cases_SierraLeone  Cases_Liberia  Cases_multiple
0        2776.0            10030.0            NaN             NaN
1        2775.0             9780.0            NaN             NaN
2        2769.0             9722.0         8166.0         20657.0
3           NaN                NaN         8157.0             NaN
4        2730.0             9633.0         8115.0         20478.0
5        2706.0             9446.0         8018.0         20170.0
6        2695.0             9409.0            NaN             NaN
7        2630.0             9203.0         7977.0         19810.0
8        2597.0             9004.0            NaN             NaN
9        2571.0             8939.0         7862.0         19372.0

In [65]:
# 대괄호를 쓰지 않아도 점(.)으로도 출력이 가능
# ebola_subset['Cases_Guinea'] <=> ebola_subset.Cases_Guinea

# 기니에 대한 합을 구하고 싶을 때
ebola_subset.Cases_Guinea.sum()

#-> But, 판다스의 오래된 버전에서는 NaN이 나옴
# 옛날 버전에서 sum 함수를 수행하면 NaN이 나옴(NaN이 포함되어 있으면 연산결과도 Nan이 나오기 때문 )

ebola_subset.Cases_Guinea.sum(skipna=False) # na를 건너뛰지 말아라 -> NaN / True를 줘야 NaN을 뺀 나머지 값이 나옴
ebola_subset.Cases_Guinea.sum(skipna=True)

84729.0

In [66]:
# 데이터 프레임에서는 자료형이 무엇인지에 따라 처리가 달라진다
# ex) 정수+정수=정수, 문자+문자=문자열 결합


# 자료형 변환(astype 함수)
# 필요에 따라 데이터 타입을 변환하여 연산하는 과정 -> 주로 자료형을 많이 변환함


import seaborn as sns
tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [68]:
tips.info() # 범주 : 해당 컬럼에 해당하는 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [69]:
# sex 컬럼에 대한 형 변환
tips['sex_str']=tips['sex'].astype(str) # 기존 컬럼 자체가 str로 변환하지 않고 새로운 컬럼을 만들어서 대입

In [70]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [74]:
# total_bill을 str로 변환하여 저장, 출력하기
tips['total_bill']=tips['total_bill'].astype(str)
tips.dtypes

# 원래대로(float) 되돌리기
tips['total_bill']=tips['total_bill'].astype(float)  # int는 int 쓰면 됨
tips.dtypes

# (+) 2진수 1개가 1비트. int 64는 '정수를 저장하는데 64비트가 소요된다'라는 뜻

total_bill         float64
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
sex_str             object
total_bill_str      object
dtype: object

In [81]:
tips_sub_miss=tips.head(10)
# tips_sub_miss
# tips_sub_miss.info()

#tips_sub_miss의 total_bill 열 중에서 1번 인덱스 행의 데이터를 'missing'으로 바꾸어 저장

tips_sub_miss.loc[1,"total_bill"]='missing'
tips_sub_miss

C:\Users\B-8\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

  total_bill   tip     sex smoker  day    time  size sex_str total_bill_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female          16.99
1    missing  1.66    Male     No  Sun  Dinner     3    Male          10.34
2      21.01  3.50    Male     No  Sun  Dinner     3    Male          21.01
3      23.68  3.31    Male     No  Sun  Dinner     2    Male          23.68
4      24.59  3.61  Female     No  Sun  Dinner     4  Female          24.59
5      25.29  4.71    Male     No  Sun  Dinner     4    Male          25.29
6       8.77  2.00    Male     No  Sun  Dinner     2    Male           8.77
7      26.88  3.12    Male     No  Sun  Dinner     4    Male          26.88
8      15.04  1.96    Male     No  Sun  Dinner     2    Male          15.04
9      14.78  3.23    Male     No  Sun  Dinner     2    Male          14.78

In [82]:
#tips_sub_miss의 total_bill 열 중에서 1,3,5,7번 인덱스 행의 데이터를 'missing'으로 바꾸어 저장

tips_sub_miss.loc[[1,3,5,7],"total_bill"]='missing'
tips_sub_miss
tips_sub_miss.dtypes

# missing으로 인해 타입이 object로 변함

C:\Users\B-8\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

total_bill          object
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
sex_str             object
total_bill_str      object
dtype: object

In [ ]:
# tips_sub_miss['total_bill'].astype(float)
# 문자열을 실수로 변환할 수 없으므로 에러

pd.to_numeric(tips_sub_miss['total_bill'])
# to_numeric 함수는 astype과 비교했을 때, 좀 더 상세한 메세지가 나오며, 옵션을 주어서 에러메시지에 대한 제어를 할 수 있다!

# error 인자에 설정할 수 있는 값
## ignore : 아무 작업도 하지 않음
## raise : 숫자로 변환할 수 없는 값이 있으면 오류 발생
## coerse : 숫자로 변환할 수 없는 값을 누락값으로 지정

In [95]:
# ignore 사용

tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],errors='ignore')
# '오류들을 무시해라' 라는 의미 -> 여전히 total_bill은 문자열로!
# 숫자로 된 문자인 경우에는 to_numeric 사용시 숫자로 변환됨(숫자와 문자형태가 다 섞여있기 때문에 오류 메시지가 뜸)
tips_sub_miss.dtypes

C:\Users\B-8\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

total_bill         float64
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
sex_str             object
total_bill_str      object
dtype: object

In [96]:
# coerse 사용

tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],errors='coerse')
# '강제로 누락값으로 바꿔라' -> total_bill은 float으로 바뀜

tips_sub_miss.dtypes
tips_sub_miss['total_bill'] # 1,3,5,7 행을 강제로 NaN으로 바꿔버림.. coerse 옵션

C:\Users\B-8\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0    16.99
1      NaN
2    21.01
3      NaN
4    24.59
5      NaN
6     8.77
7      NaN
8    15.04
9    14.78
Name: total_bill, dtype: float64

In [105]:
# 카테고리(유한한 범위의 값만을 가질 수 있는 특수한 자료형) 자료형 변환
# 카테고리 타입의 예(학년, 성별, 날씨, 종교, 병의 유무...) => 유효한 범위 값을 갖는다(다른 말로 범주형이라고도 함)

# 자료 관리할 때 유용하게 사용할 수 있는 타입!! 속도가 빠름

tips.info()
tips['sex']=tips['sex'].astype('str')
# tips['sex']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
total_bill        244 non-null float64
tip               244 non-null float64
sex               244 non-null object
smoker            244 non-null category
day               244 non-null category
time              244 non-null category
size              244 non-null int64
sex_str           244 non-null object
total_bill_str    244 non-null object
dtypes: category(3), float64(2), int64(1), object(3)
memory usage: 12.6+ KB

In [101]:
tips['sex']=tips['sex'].astype('category')
tips.info()


# str은 4글자여도 6글자를 저장할 수 있는 공간을 만들지만, 카테고리는 6글자 아니면 4글자에 맞는 크기만큼만 저장
# 카테고리를 사용하면 메모리 사용량을 줄일 수 있으므로, 사용해도 좋다(비용, 처리속도에 관계 있으므로!)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
total_bill        244 non-null float64
tip               244 non-null float64
sex               244 non-null category
smoker            244 non-null category
day               244 non-null category
time              244 non-null category
size              244 non-null int64
sex_str           244 non-null object
total_bill_str    244 non-null object
dtypes: category(4), float64(2), int64(1), object(2)
memory usage: 11.0+ KB

In [113]:
#  문자열 처리(중요 중요!!!)
# 15 -> '15' 처럼 상당수의 데이터는 문자열이다

word='grail'
#     01234
#    -5   -1 (음수 인덱스 지정 가능)
sent='a scratch'
# 문자열은 작은따옴표, 큰 따옴표 무관


# 인덱스로 문자 추출
word[0] # <=>  word[-5]   모두 'g' 출력
sent[0:-8] # 음수를 사용하여 출력 가능!
sent[:]

sent[::2] # 두 글자씩 건너뛰기

'asrth'

In [121]:
# 문자열 관련 메서드
x='good morning'
x.capitalize() # 첫 글자가 대문자로 바뀜
x.count('n') # n 이라는 글자가 몇 개 있는지
x.startswith('Good') # ~한 것으로 시작되는지 확인 / 대소문자 구별하므로 False
x.startswith('good')
x.endswith('ing') # ~으로 끝나는지 확인 / ing로 끝
x.find('n') # n글자의 첫번째 인덱스 리턴 / 8
x.find('z') # 문자가 없으면 -1 이 나옴

x.index('n') # n글자의 첫번째 인덱스 리턴 : 8
x.index('z') # 없으므로 에러발생(find 함수와 차이점)

ValueError: substring not found

In [130]:
x.isalpha() # 공백이 포함되어 있어 False(공백문자는 알파벳이 아님)
'good'.isalpha() # 알파벳으로 구성되어 있어 True
'good'.isalpha() # 숫자가 포함되어 있어 False

'1234'.isdecimal() # 모든 문자가 숫자면 True

'a1234'.isalnum() # 숫자와 알파벳으로 구성되어 있으면 True
'1234'.isalnum() # 숫자로 구성되어 있으면 True
'good'.isalnum() # 알파벳으로 구성되어 있으면 True
'good morning'.isalnum() # 공백문자가 있으므로 False

'good morning'.upper() # 대문자로 바뀜
'good morning'.lower() # 소문자로 바뀜

'good morning'

In [132]:
'good morning'.replace('o','k') # o 문자가 k로 바뀜
'good morning'.replace('oo','ab') # oo 문자가 ab로 바뀜

'gabd morning'

In [136]:
'3,4,5'.partition(",")   # ('3', ',', '4,5')
# 처음에 나온 , 만 구분하고, 뒤에 있는 함수는 그대로 출력

'3,4,5'.split(",")   # ['3', '4', '5']


# join 함수 : 문자열 연결
a1="1학년"
a2="3반"
a3="5번"
a4="홍길동"
a1+a2+a3+a4  # 공백 없음 /' 1학년3반5번홍길동'

' '.join([a1,a2,a3,a4]) # 공백 생김 / '1학년 3반 5번 홍길동'

'1학년 3반 5번 홍길동'

In [153]:
# 여러 줄은 곁따옴표 3개 사용

multi_str="""
how   
are
you?
fine
thanks

"""

multi_str  # \nhow\nare\nyou?\nfine\nthanks\n\n'
multi_str_split=multi_str.splitlines()
multi_str_split

# 특정 데이터 라인만 추출하고 싶을 때
multi_str_split[::2]  # ['', 'are', 'fine', '']

# thanks를 thank you로 변환하기
multi_str=multi_str.replace('thanks','thank you')
multi_str_split=multi_str.splitlines()
multi_str_split

['', 'how   ', 'are', 'you?', 'fine', 'thank you', '']

In [142]:
multi_str2="how are you? fine thanks"
multi_str2

'how are you? fine thanks'

In [152]:
import re
tele_num='1234567890'
re.match('\d+',tele_num) # 1개 이상으로 매치되어진다

In [157]:
# 전화번호를 패턴으로 저장하기

tel_num_spaces="123 456 7890"
m=re.match("\d{10}",tel_num_spaces)
print(m) # 공백으로 인해 매치가 되지 않음(None)

if m:
    print("매치됨")
else:
    print('매치안됨')

None
매치안됨

In [159]:
# 공백 들어간 채로 전화번호 추출하려면?

tel_num_spaces="123 456 7890"
m=re.match("\d{3}\s\d{3}\s\d{4}",tel_num_spaces)
print(m)

<_sre.SRE_Match object; span=(0, 12), match='123 456 7890'>

In [162]:
pat=re.compile('\d{10}')
s='1234567890'
m=pat.match(s)
print(m)

<_sre.SRE_Match object; span=(0, 10), match='1234567890'>

In [178]:
# apply : 특정 데이터에 함수 적용

In [ ]:
# 시리즈일 떄,

In [165]:
df=pd.DataFrame({"a":[10,20,30],"b":[20,30,40]})
df

# a열의 값을 제곱하여 출력해보기
df['a']**2

0    100
1    400
2    900
Name: a, dtype: int64

In [215]:
def my_sq(x):
    return x**2  # (제곱만)
def my_exp(x,n):  # 인수를 2개 받아 x의 n승을 제곱한다(3제곱 이상)
    return x**n

In [216]:
# my_sq(n)에 df a열을 출력하여 나타내기
my_sq(df['a']) # 방법 1
df['a'].apply(my_sq) # 방법 2

0    100
1    400
2    900
Name: a, dtype: int64

In [217]:
# a열 값에 대한 3제곱 값을 출력
df['a'].apply(my_exp,n=3) # n을 반드시 명시!

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [224]:
# 데이터 프레임일 때,

In [225]:
df=pd.DataFrame({"a":[10,20,30],"b":[100,200,300]})
df

    a    b
0  10  100
1  20  200
2  30  300

In [226]:
def print_me(x):
    print(x)

In [227]:
# df

# 인수지정하기
# df.apply(print_me) # 열방향으로 출력
# df.apply(print_me,axis=0) # 열방향으로 출력
df.apply(print_me,axis=1) # 행방향으로 출력

a     10
b    100
Name: 0, dtype: int64
a     20
b    200
Name: 1, dtype: int64
a     30
b    300
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [240]:
def avg_3(x):
    # 처음에는 a열이 전달되어 a열의 0번 index 값인 10 출력
    # 다음에는 b열이 전달되어 b열의 0번 index 값인 100 출력
    return (x[0]+x[1]+x[2])/3
#     return (x[0]+x[1])/2

In [241]:
# df의 a열 b열의 각각에 대한 편균을 구하고 싶을 때
df.apply(avg_3)
# 3개의 인수가 필요한테 1개의 인수만 전달해서 에러(avg에 전달되는 건 df 하나)

a     20.0
b    200.0
dtype: float64